<!-- Header-->
{% include "header.html" %}

<!-- Main Content-->

<div class="container px-4 px-lg-5">
    <div class="card mb-5" style="max-width: 900;">
        <div class="card-body ">
             <div class="row g-0 mt-1 mb-3 mx-1">
               <img src=\static\assets\img\header_large.jpg class="card-img rounded-10 " alt="...">
             </div>
             <div class="row g-0 mx-1 mb-2">
                <br>
                <p> NewOldWatches is a watch art studio specializing in customizing vintage (and also modern) mechanical watches since 2005.  </p>
                <p> We convert pocket watches to wrist watches, create new dials, build new cases, skeletonize movements, engrave movements / cases / dials / buckles / heads and do more other works on the field of the watch restoration.  </p>
                <br>
                <p> The catalogue of watches that have found their lucky owners earlier placed in our <a href="#">watches collection</a>. <p>
                <p> On our site you will find also the catalogue of some of the <a href="#">watch parts</a> (handmade dials, custom cases, straps, ...) that has been created by our team .<p>
                <p> We offer for sale watches, that have been completed already, so you can buy it immediately, just watch out our <a href="#">watch shop</a>. <p>
            </div>
        </div>
    </div>


</div>

 <!-- Footer-->
{% include "footer.html" %}
